{% extends 'questionary.html' %}
{% block content %}
<div class="col-md-9" style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <p> Данная анкета составлена в рамках проекта московской лексико-типологической группы.</p>
    <p>Опросник содержит 45 вопросов. В начале также будут заданы несколько общих вопросов о Вас, просьба отвечать максимально честно.
Помните, эти данные не будут использованы ни для каких иных целей кроме сбора статистики.</p>
    <p>Пожалуйста, прежде чем ответить, внимательно прочитайте вопрос. Подберите максимально подходящее по значению слово. Не пропускайте вопросы.
    По окончании заполнения опросника нажмите кнопку "отправить".</p>
    <p>Для начала заполнения анкеты выберите вверху страницы пункт "анкета" или нажмите на кнопку ниже.</p>
    <a href="/quests" class="btn btn-primary btn-dark" id="submit" >Начать</a>
</div>
{% endblock %}