{% extends 'questionary.html' %}
{% block content %}
<div class="col-md-10" style="margin-left: 5%; margin-right: 5%; margin-top: 5%;">
    <form>
        <p style="font-size: 24pt"><strong>Несколько вопросов о Вас</strong></p>
        <p>Введите свой родной язык (пожалуйста, отвечайте на вопросы на своем родном языке!) <input name="lang"></p>
        <p>Сколько Вам лет?
        <select class="form-control" name="age">
            <option>младше 18</option>
            <option>18-25</option>
            <option>25-40</option>
            <option>40-60</option>
            <option>старше 60</option>
        </select></p>
        <p>Где Вы живете (прожили большую часть своей жизни)? <input name="place"></p>
        <hr>
        <p style="font-size: 24pt"><strong>Теперь, пожалуйта, заполните анкету </strong></p>
        <p> <em>Пожалуйста, в качестве ответа введите ОДНО прилагательное на Вашем родном языке, которое, как Вам кажется, максимально соответствует контексту. Форма прилагательного неважна (например, Вы можете ввести как "красивый", так и "красивого").</em></p>
        <p>1.	If you do not want the bracelet to come undone, make a <input name="Quest1" id="1"> knot of two prominent cords.</p>
        <p>2.	Ballerinas are required to wear pink <input name="Quest2" id="2"> pants, which is not easy to put on.</p>
        <p>3.	If there is a fire in a house, remember that the door, which is shut <input name="Quest3" id="3">, prevents the spread of fire.</p>
        <p>4.	He has such <input name="Quest4" id="4"> brake pedal in his car that I do not understand how he pushes it.</p>
        <p>5.	If you want to have a slim and <input name="Quest5" id="5"> hips, then you need to move as much as possible.</p>
        <p>6.	This panty hose has awfully <input name="Quest6" id="6">   band that leaves marks on the body.</p>
        <p>7.	<input name="Quest7" id="7"> belt squeezed her body  so that she  could  hardly breathe.</p>
        <p>8.	He could not open the door with <input name="Quest8" id="8"> spring: as soon as he pulled the door, it immediately closed with a bang.</p>
        <p>9.	<input name="Quest9" id="9"> tie pressed down on his throat.</p>
        <p>10.	In the childhood she used to climb trees, sat on the <input name="Quest10" id="10"> branch, which bent but did not break under her weight, and to enjoy the singing of birds nearby.</p>
        <p>11.	 <input name="Quest11" id="11"> pillow, keeps its shape throughout the sleep  and provides optimum comfort head position.</p>
        <p>12.	There is a <input name="Quest12" id="12"> band set in to dress’s belt in order to repeat the outline of your figure and accentuate your waist.</p>
        <p>13.	They brought their whole weight to bear on <input name="Quest13" id="13"> bar, because they could not open the door.</p>
        <p>14.	In order to turn off vacuum cleaner I have to forcefully push with two hands on a very <input name="Quest14" id="14"> button on the control panel.</p>
        <p>15.	Perfectly <input name="Quest15" id="15"> ball bounces off the wall.</p>
        <p>16.	This <input name="Quest16" id="16"> corset badly squeezed her breasts did not allow her  to breathe.</p>
        <p>17.	When you jump with the rope down, you think you are about to fall into the water, but the <input name="Quest17" id="17"> rope pulls you back, and it happens several times until the tension of the rope is exhausted.</p>
        <p>18.	The hat is so <input name="Quest18" id="18"> that it was impossible to it pull it on the head at least a little.</p>
        <p>19.	All friends of her age have loose sagging skin, but she in her forties manages to have smooth, beautiful and <input name="Quest19" id="19"> skin.</p>
        <p>20.	 Thin bow touches the <input name="Quest20" id="20"> string  and the room is filled with beautiful sounds.</p>
        <p>21.	If you want to catch really big fish, you should have very <input name="Quest21" id="21">  fishing-line, that sustains tension  of good catch.</p>
        <p>22.	We need <input name="Quest22" id="22"> stick, bending which we can throw tiny spears over long distances.</p>
        <p>23.	There was such  <input name="Quest23" id="23"> fog that it is impossible to see anything at arm’s length.</p>
        <p>24.	Too <input name="Quest24" id="24"> clothing prevents transpiration that causes skin irritation.</p>
        <p>25.	On Saturday I have a very <input name="Quest25" id="25"> schedule: training, meeting with the boss, work, meeting with friends and a lot of other things.</p>
        <p>26.	The jacket is made of <input name="Quest26" id="26"> fabric, so that even in rainy weather you stay dry.</p>
        <p>27.	I have  <input name="Quest27" id="27"> curtains in a bedroom, so that morning sun doesn’t wake me up.</p>
        <p>28.	It is better to use <input name="Quest28" id="28">  paper for drawing and for craft because it is durable.</p>
        <p>29.	After a <input name="Quest29" id="29"> breakfast consisting of puddings, sausages, eggs, bacon and porridge, we went for a long walk around the city.</p>
        <p>30.	There are traffic jams on roads very often because of too <input name="Quest30" id="30"> stream of cars.</p>
        <p>31.	The territory is protected more strictly than before, and is enclosed by a <input name="Quest31" id="31"> fence through which nothing can be seen.</p>
        <p>32.	 <input name="Quest32" id="32"> carpet is an indispensable thing in places with poor noise isolation and poor heating.</p>
        <p>33.	She had a stocky, <input name="Quest33" id="33"> figure without a pronounced waist, but it even gave her charm at a certain point</p>
        <p>34.	Going to the forest, it is necessary to wear high leather boots with laces and <input name="Quest34" id="34"> trousers, not to be afraid of nettles, thorns and mosquito bites.</p>
        <p>35.	 <input name="Quest35" id="35"> population and limited land lead people to struggle with each other for resources.</p>
        <p>36.	When he received <input name="Quest36" id="36"> package with money and felt there  notes, he was incredibly happy.</p>
        <p>37.	The most coarse and <input name="Quest37" id="37"> skin is on the palms and soles.</p>
        <p>38.	He shut the door as <input name="Quest38" id="38"> as possible so that no one could hear them.</p>
        <p>39.	Do not touch the burning Christmas tree with bare hands, just  throw a <input name="Quest39" id="39"> coverlet and cover it with sand.</p>
        <p>40.	The boots are made of <input name="Quest40" id="40"> leather that is why water cannot go inside a boot.</p>
        <p>41.	He handed me a <input name="Quest41" id="41"> folder packed with a large number of documents.</p>
        <p>42.	Documents should be stored in  <input name="Quest42" id="42">, stiff folder so that the sheets are not crumpled.</p>
        <p>43.	I was late for the event, so that I had to go through the <input name="Quest43" id="43"> rows of people to get to my place near the scene.</p>
        <p>44.	Best of all is to use the device for needlework in the form of a frame on a stand, where the <input name="Quest44" id="44"> fabric is inserted for embroidery.</p>
        <p>45.	Sails are made of highly <input name="Quest45" id="45"> fabric.</p>
        <button type="submit" class="btn btn-primary btn-dark" id="submit" style="margin-bottom: 5%;" >Отправить</button>
    </form>

</div>
{% endblock %}
